<h3>Agendas</h3>
<p class="text-muted">
	Pick a name for a committee
</p>
<div class="form-group">
	<div class="col-sm-1">
		<button id="new_committee" type="button" class="btn btn-primary">Add</button>
	</div>
	<div class="col-sm-11">
		<input type="text" name="new_committee_name" id="new_committee_name"/>
	</div>
</div>
{{#result}}
<table class="table ">
		<tr>
			<td>
				<button type="button" class="delete_committee btn btn-danger">Delete</button>
				<input type="hidden" name="committee_id" value="{{ committee_id }}" class="form-control" disabled/>
			</td>
			<td>
				<label for="committee-{{committee_id}}">Committee name</label>
				<input type="text" value="{{ committee_name }}" id="committee-{{committee_id}}" class="form-control" disabled/>
			</td>
		</tr>
</table>
{{/result}}
