<div id="icon-themes" class="icon32"></div>
<h2 class="nav-tab-wrapper">
    <a href="?page=boards_and_committees&tab=display_members" class="nav-tab nav-tab-active">Members</a>
    <a href="?page=boards_and_committees&tab=display_boards" class="nav-tab">Boards</a>
    <a href="?page=boards_and_committees&tab=display_committees" class="nav-tab">Committees</a>
</h2>
<h1>{{ active_tab }}</h1>

<div class="form-group">
	<div class="col-sm-1">
		<button id="new_committee" type="button" class="btn btn-primary">Add</button>
	</div>
	<div class="col-sm-11">
		<input type="text" name="new_committee_name" id="new_committee_name"/>
	</div>
</div>

{{#members}}
<table class="table ">
		<tr>
			<td>
				<button type="button" class="delete_committee btn btn-danger">Delete</button>
				<input type="hidden" name="committee_id" value="{{ committee_id }}" class="form-control" disabled/>
			</td>
			<td>
				<label for="committee-{{committee_id}}">Committee name</label>
				<input type="text" value="{{ committee_name }}" id="committee-{{committee_id}}" class="form-control" disabled/>
			</td>
		</tr>
</table>
{{/members}}
